<%# ignore these lines they're just the calculation lines %>

  <%
    item_totals = {}
    @items.each do |order|
    order.item.shops.each do |shop|
    item_totals[shop.name] = 0
    end
    end


  @items.each do |order|
  order.item.shops.each do |shop|
  item_totals[shop.name] += (shop.price * order.quantity)
  end
  end
  %>



  <% all_shop_names = [] %>

  <% @items.each do |order| %>
  <% order.item.shops.each do |shop|%>
  <% all_shop_names.push shop.name %>
  <% end %>
  <% end %>


  <% shop_count = {} %>

  <% @items.each do |order| %>
  <% order.item.shops.each do |shop|%>
  <% shop_count[shop.name] = all_shop_names.count(shop.name) %>
  <% end %>
  <% end %>
<%# calculation ends %>





<%# This is whether you have finalised your basket or not %>


<% if params[:shop].present? %>
  <% price_select = params[:shop]["shop"].reject(&:empty?)[0][1..-1].to_f %>
  <% selected_shop = "" %>
  <% all_shop_names.uniq.each do |name| %>
    <% if item_totals[name] == price_select %>
      <% selected_shop = name %>
    <% end %>
  <% end %>

  <%# title with specific shop img %>

  <h2>Shopping List for <%= selected_shop %></h2>
  <%= link_to "Back to basket", "/baskets/#{@basket.id}", class: 'btn btn-success original-button left-green' %>


      <% @items.each do |order| %>
      <% shopname_arr = [] %>
      <% order.item.shops.each do |shop| %>
      <% shopname_arr.push shop.name %>
  <% end %>

<div class="cards">
  <div class="each-card" style="height:100%; display:block">
        <% if shopname_arr.include?(selected_shop) && order.quantity > 0%>
        <div class="flex" style="width:100%">
          <div class="image"> <img src="<%= order.item.image %>" alt="">
          </div>
            <div style="padding-left: 20px" class="name-and-price">
              <p><%= order.quantity %> x <%= order.item.brand %> <%= order.item.name %></p>
               <% order.item.shops.each do |shop| %>
                <% if shop.name == selected_shop %>
                  <p><strong>£<%= '%.2f' % (shop.price * order.quantity).round(2) %></strong></p>
                <% end %>
                <% end %>
            </div>
        </div>
        <% end %>
  </div>
<% end %>
</div>

  <%# Items that weren't included by your shop %>

  <% @items.each do |order| %>
  <% shopname_arr = [] %>
  <% order.item.shops.each do |shop| %>
  <% shopname_arr.push shop.name %>
  <% end %>
    <% if shopname_arr.include?(selected_shop) == false && order.quantity > 0%>
    <h2>Missing Items</h2>
      <div class="cards">
        <div class="each-card" style="height: 100%; display:block">
          <div class="flex" style="width:100%">
            <div class="image"><img src="<%= order.item.image %>" alt="">
            </div>
            <div style="padding-left: 20px" class="name-and-price">
              <p><%= order.item.name %> x<%= order.quantity %></p>
              <p></p><%= order.item.brand %></p>
              <% end %>
              <% end %>
            </div>
          </div>


<%# The original basket page %>

<% else %>
<h2 class="page-header">Current Basket</h2>
<% if @items.size > 0 %>
<div class="flex">
  <div style="margin-left:2%"><button type="button" class="btn btn-primary finalise-button left-green" data-toggle="modal" data-target="#exampleModal">
    Calculate  </button>
  </div>
  <div style="margin-right:2%">
    <%= link_to 'Clear Basket', basket_path(@basket) , data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } , class: 'btn btn-danger right-red' %>
  </div>
</div>
<% end %>

  <% @items.sort.each do |order| %>
  <% if order.quantity > 1 %>
  <div class="each-card" id='basket-card' style="height:100%; display:block">
    <div class="flex-start" style="width:100%">
        <div class="image"><img src="<%= order.item.image %>" alt=""></li>
        </div>
        <div style="padding-left: 20px" class="name-and-price">
          <p style="margin-right:15px;margin-top:5px"><%= order.item.brand %> <%= order.item.name %> <%= order.item.volume %></p>
          <div class="dropdown">
            <button id="" style="margin-left:0; padding-left:0;" class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Available at
            </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <% order.item.shops.each do |shop| %>

                  <div class="dropdown-item" ><%= shop.name %>
                    <% if order.quantity? %>
                    <p>£ <%= '%.2f' % (shop.price * order.quantity).round(2) %></p>
                    <% else %>
                    <p>£ <%= '%.2f' % shop.price %></p>
                    <% end %>
                  </div>
                <% end %>

              </div>
          </div>
        </div>
    </div>
            <%# <%= form_with url: "/baskets/#{@basket.id}/items/#{order.item_id}/order_histories/#{order.id}", method: :patch do |f|  %>
              <%# <%= f.number_field :quantity, :required => 'required', style: "width: 100%; text-align: center" , placeholder: "Change Quantity" %>
              <%# <%= f.submit "Update", style: ' background-color: #06D6A0; width: 100% '%>
            <%# <% end %>

          <%# <%= link_to 'Remove Item',  "/baskets/#{@basket.id}/items/#{order.item_id}/order_histories/#{order.id}" , data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } , class: 'btn btn-danger ', style: 'margin: 10px;' %>

        <div class="flex yellow-border">
          <div style="margin-left: 7%; width: 40px"><strong><%= link_to '-', basket_item_order_history_path(@basket, order.item_id, order.id, change: 'minus'), data: {turbo_method: :patch}%></strong></div>
          <div><strong><%= order.quantity %></strong></div>
          <div style="margin-right: 7%; width: 40px"><strong><%= link_to '+', basket_item_order_history_path(@basket, order.item_id, order.id, change: 'add'), data: {turbo_method: :patch}%></strong></div>
        </div>


  </div>
  <% elsif order.quantity == 1 %>
      <%# <% link_to "/baskets/#{@basket.id}/items/#{order.item_id}/order_histories/#{order.id}", data: { turbo_method: :delete } %>
  <div class="each-card" id='basket-card' style="height:100%; display:block">
    <div class="flex" style="width:100%">
        <div class="image"><img src="<%= order.item.image %>" alt=""></li>
        </div>
        <div style="padding-left: 20px" class="name-and-price">
          <p><%= order.item.brand %> <%= order.item.name %></p>
          <div class="dropdown">
            <button style="margin-left:0; padding-left:0" class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Available at
            </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <% order.item.shops.each do |shop| %>

                  <div class="dropdown-item" ><%= shop.name %>
                    <% if order.quantity? %>
                    <p>£ <%= '%.2f' % (shop.price * order.quantity).round(2) %></p>
                    <% else %>
                    <p>£ <%= '%.2f' % shop.price %></p>
                    <% end %>
                  </div>
                <% end %>

              </div>
          </div>
        </div>
    </div>
            <%# <%= form_with url: "/baskets/#{@basket.id}/items/#{order.item_id}/order_histories/#{order.id}", method: :patch do |f|  %>
              <%# <%= f.number_field :quantity, :required => 'required', style: "width: 100%; text-align: center" , placeholder: "Change Quantity" %>
              <%# <%= f.submit "Update", style: ' background-color: #06D6A0; width: 100% '%>
            <%# <% end %>

          <%# <%= link_to 'Remove Item',  "/baskets/#{@basket.id}/items/#{order.item_id}/order_histories/#{order.id}" , data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } , class: 'btn btn-danger ', style: 'margin: 10px;' %>

        <div class="flex yellow-border">
          <div style="margin-left: 7%; width: 40px"><strong><%= link_to '-', "/baskets/#{@basket.id}/items/#{order.item_id}/order_histories/#{order.id}", data: {turbo_method: :delete}%></strong></div>
          <div><strong><%= order.quantity %></strong></div>
          <div style="margin-right: 7%; width: 40px"><strong><%= link_to '+', basket_item_order_history_path(@basket, order.item_id, order.id, change: 'add'), data: {turbo_method: :patch}%></strong></div>
        </div>
   </div>








 <% all_shop_names = [] %>

  <% @items.each do |order| %>
  <% order.item.shops.each do |shop|%>
  <% all_shop_names.push shop.name %>
  <% end %>
  <% end %>



  <% shop_count = {} %>

  <% @items.each do |order| %>
  <% order.item.shops.each do |shop|%>
  <% shop_count[shop.name] = all_shop_names.count(shop.name) %>
  <% end %>
  <% end %>

    <% end %>
  <% end %>
  </div>
</div>



  <%# <%= link_to 'Remove Item',  "/baskets/#{@basket.id}/items/#{order.item_id}/order_histories/#{order.id}" , data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } , class: 'btn btn-danger ', style: 'margin: 10px;' %>



<% end %>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"> Price comparisons:</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      <%= simple_form_for :shop, url: "/baskets/#{@basket.id}", method: :get do |f| %>
      <% all_shop_names.uniq.sort.each do |shop| %>
      <% if shop_count[shop].to_f / @items.size >= 0.5 %>

      <div class="yellow-border shop-list">

          <div class="shop-img">
             <% case shop %>
              <% when "Poundland" %>
              <%= image_tag "https://res.cloudinary.com/dzhyyuft3/image/upload/v1662653128/poundland_qppk9u.png", crop: :fill %>
              <% when "Sainsbury's" %>
              <%= image_tag "https://res.cloudinary.com/dzhyyuft3/image/upload/v1662653128/sainsbury_s_en8ssv.png", crop: :fill %>
              <% when "Tesco" %>
              <%= image_tag "https://res.cloudinary.com/dzhyyuft3/image/upload/v1662653128/tesco_w6rgal.png", crop: :fill %>
              <% when "ALDI" %>
              <%= image_tag "https://res.cloudinary.com/dzhyyuft3/image/upload/v1662653128/aldi_xcjrv8.png", crop: :fill %>
              <% when "Asda" %>
              <%= image_tag "https://res.cloudinary.com/dzhyyuft3/image/upload/v1662653128/asda_v6kw5g.png", crop: :fill %>
              <% when "Co-op" %>
              <%= image_tag "https://res.cloudinary.com/dzhyyuft3/image/upload/v1662655318/co-op_wjaopn.png", crop: :fill %>
              <% when "Morrisons" %>
              <%= image_tag "https://res.cloudinary.com/dzhyyuft3/image/upload/v1662653128/morrisons_blzsz4.png", crop: :fill %>
              <% when "Ocado" %>
              <%= image_tag "https://res.cloudinary.com/dzhyyuft3/image/upload/v1662729912/r3ozdxdbhbf6yx6hsbpb.png", crop: :fill %>
              <% else %>
                <p><%=  shop %></p>
              <% end %>
          </div>

          <div> <%= shop_count[shop]%>/<%=@items.size%> items</div>
          <div>
            <p><%= f.input :shop , collection: [number_to_currency(item_totals[shop], unit: "£")], as: :check_boxes, legend_tag: false %></p>
          </div>

      </div>

      <% end %>
      <% end %>
      <%= f.button :submit, class: 'btn btn-outline-success'  %>
      <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

      </div>
    </div>
  </div>
</div>

<% total_price = 0 %>
  <% @items.each do |item|%>
  <% total_price += item.item.price * item.quantity%>
  <% Basket.where(id: params[:id]).update(total_price: total_price) %>
  <% end %>
