<h1>Shopping list</h1>
<ul>
<p>total items <%= @items.count %> </p>
<p>total price  </p>
  <% @items.each do |item| %>
  <br>
    <li> <%= item.brand %></li>
    <li> <%= item.name %></li>
    <li> # items.count(params[:id]) </li>
    <% item.shops.each do |shop| %>
    <li> <%= shop.name %> <%= shop.price %></li>

    <% end %>
    <br>
  <% end %>
</ul>
