<%# ignore these lines they're just the calculation lines %>

  <%
    item_totals = {}
    @items.each do |order|
    order.item.shops.each do |shop|
    item_totals[shop.name] = 0
    end
    end


  @items.each do |order|
  order.item.shops.each do |shop|
  item_totals[shop.name] += (shop.price * order.quantity)
  end
  end
  %>



  <% all_shop_names = [] %>

  <% @items.each do |order| %>
  <% order.item.shops.each do |shop|%>
  <% all_shop_names.push shop.name %>
  <% end %>
  <% end %>


  <% shop_count = {} %>

  <% @items.each do |order| %>
  <% order.item.shops.each do |shop|%>
  <% shop_count[shop.name] = all_shop_names.count(shop.name) %>
  <% end %>
  <% end %>
<%# calculation ends %>
<h1>Shopping list</h1>
<ul>

<%# This is whether you have finalised your basket or not %>
<% if params[:shop].present? %>
  <% price_select = params[:shop]["shop"].reject(&:empty?)[0][1..-1].to_f %>
  <% selected_shop = "" %>
  <% all_shop_names.uniq.each do |name| %>
    <% if item_totals[name] == price_select %>
      <% selected_shop = name %>
    <% end %>
  <% end %>

  <%# title with specific shop img %>

  <h2> <%= selected_shop %> </h2>
  <% case selected_shop %>
          <% when "Poundland" %>
          <%= image_tag "https://res.cloudinary.com/dzhyyuft3/image/upload/v1662653128/poundland_qppk9u.png", crop: :fill %>
          <% when "Sainsbury's" %>
          <%= image_tag "https://res.cloudinary.com/dzhyyuft3/image/upload/v1662653128/sainsbury_s_en8ssv.png", crop: :fill %>
          <% when "Tesco" %>
          <%= image_tag "https://res.cloudinary.com/dzhyyuft3/image/upload/v1662653128/tesco_w6rgal.png", crop: :fill %>
          <% when "ALDI" %>
          <%= image_tag "https://res.cloudinary.com/dzhyyuft3/image/upload/v1662653128/aldi_xcjrv8.png", crop: :fill %>
          <% when "Asda" %>
          <%= image_tag "https://res.cloudinary.com/dzhyyuft3/image/upload/v1662653128/asda_v6kw5g.png", crop: :fill %>
          <% when "Co-op" %>
          <%= image_tag "https://res.cloudinary.com/dzhyyuft3/image/upload/v1662655318/co-op_wjaopn.png", crop: :fill %>
          <% when "Morrisons" %>
          <%= image_tag "https://res.cloudinary.com/dzhyyuft3/image/upload/v1662653128/morrisons_blzsz4.png", crop: :fill %>
          <% when "Ocado" %>
          <%= image_tag "https://res.cloudinary.com/dzhyyuft3/image/upload/v1662729912/r3ozdxdbhbf6yx6hsbpb.png", crop: :fill %>

    <% end %>

  <% @items.each do |order| %>
  <% shopname_arr = [] %>
  <% order.item.shops.each do |shop| %>
  <% shopname_arr.push shop.name %>
  <% end %>

  <% if shopname_arr.include?(selected_shop) %>
  <br>
    <li> <%= order.item.name %> x<%= order.quantity %></li>
    <li> <%= order.item.brand %></li>
    <li> <img src="<%= order.item.image %>" alt=""></li>
  <% order.item.shops.each do |shop| %>
  <% if shop.name == selected_shop %>
  <h4><%= shop.name %></h4>
  <% if order.quantity? %>
    <p>£ <%= '%.2f' % (shop.price * order.quantity).round(2) %></p>
    <% else %>
    <p>£ <%= '%.2f' % shop.price %></p>
    <% end %>
  <% end %>
  <% end %>
  <%= form_with url: "/baskets/#{@basket.id}/items/#{order.item_id}/order_histories/#{order.id}", method: :patch do |f|  %>
      <%= f.number_field :quantity, :required => 'required', style: "width: 100%; text-align: center" , placeholder: "Change Quantity" %>
      <%= f.submit "Update", style: ' background-color: #06D6A0; width: 100% '%>
    <% end %>

  <%= link_to 'Remove Item',  "/baskets/#{@basket.id}/items/#{order.item_id}/order_histories/#{order.id}" , data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } , class: 'btn btn-danger ', style: 'margin: 10px;' %>

  <% end %>
  <br>


  <% end %>
  <%# Items that weren't included by your shop %>
  <h2>Missing Items</h2>
  <% @items.each do |order| %>
  <% shopname_arr = [] %>
  <% order.item.shops.each do |shop| %>
  <% shopname_arr.push shop.name %>
  <% end %>
  <% if shopname_arr.include?(selected_shop) == false %>
  <br>
    <li> <%= order.item.name %> x<%= order.quantity %></li>
    <li> <%= order.item.brand %></li>
    <li> <img src="<%= order.item.image %>" alt=""></li>
  <% end %>
  <% end %>

  <%= link_to "Go back to original", "/baskets/#{@basket.id}", class: 'btn btn-success original-button' %>


<%# The original basket page %>
<% else %>
  <% @items.each do |order| %>
  <br>
    <li> <%= order.item.name %> x<%= order.quantity %></li>
    <li> <%= order.item.brand %></li>
    <li> <img src="<%= order.item.image %>" alt=""></li>

    <div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Shops
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <% order.item.shops.each do |shop| %>

    <div class="dropdown-item" ><%= shop.name %>
    <% if order.quantity? %>
    <p>£ <%= '%.2f' % (shop.price * order.quantity).round(2) %></p>
    <% else %>
    <p>£ <%= '%.2f' % shop.price %></p>
    <% end %>
    </div>
    <% end %>
  </div>
</div>
    <br>
    <%= form_with url: "/baskets/#{@basket.id}/items/#{order.item_id}/order_histories/#{order.id}", method: :patch do |f|  %>
      <%= f.number_field :quantity, :required => 'required', style: "width: 100%; text-align: center" , placeholder: "Change Quantity" %>
      <%= f.submit "Update", style: ' background-color: #06D6A0; width: 100% '%>
    <% end %>

  <%= link_to 'Remove Item',  "/baskets/#{@basket.id}/items/#{order.item_id}/order_histories/#{order.id}" , data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } , class: 'btn btn-danger ', style: 'margin: 10px;' %>
  <% end %>

</ul>
<button type="button" class="btn btn-primary finalise-button" data-toggle="modal" data-target="#exampleModal">
  Finalise Basket
</button>
<% end %>





<%= link_to 'Clear Basket', basket_path(@basket) , data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } , class: 'btn btn-danger ', style: 'margin: 10px;' %>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"> Cheapest Shops given your basket </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      <%= simple_form_for :shop, url: "/baskets/#{@basket.id}", method: :get do |f| %>
      <% all_shop_names.uniq.sort.each do |shop| %>
      <% if shop_count[shop].to_f / @items.size >= 0.75 %>
      <%= shop %>

      <%= f.input :shop , collection: [number_to_currency(item_totals[shop], unit: "£")], as: :check_boxes, legend_tag: false %>

      <% end %>
      <% end %>
      <%= f.button :submit, class: 'btn btn-outline-success'  %>
      <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

      </div>
    </div>
  </div>
</div>

<% total_price = 0 %>
  <% @items.each do |item|%>
  <% total_price += item.item.price * item.quantity%>
  <% Basket.where(id: params[:id]).update(total_price: total_price) %>
  <% end %>
