<h1>Shopping list</h1>
<ul>
<p>total items <%= @items.count %> </p>
<p>total price  </p>
  <% @items.each do |order| %>
  <br>
    <li> <%= order.item.name %> x<%= order.quantity %></li>
    <li> <%= order.item.brand %></li>
    <li> <img src="<%= order.item.image %>" alt=""></li>

    <div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Shops
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <% order.item.shops.each do |shop| %>

    <div class="dropdown-item" ><%= shop.name %>
    <% if order.quantity? %>
    <p>£ <%= '%.2f' % (shop.price * order.quantity).round(2) %></p>
    <% else %>
    <p>£ <%= '%.2f' % shop.price %></p>
    <% end %>
    </div>
    <% end %>
  </div>
</div>
    <br>
    <%= form_with url: "/baskets/#{@basket.id}/items/#{order.item_id}/order_histories/#{order.id}", method: :patch do |f|  %>
      <%= f.number_field :quantity, :required => 'required', style: "width: 100%; text-align: center" , placeholder: "Change Quantity" %>
      <%= f.submit "Update", style: ' background-color: #06D6A0; width: 100% '%>
    <% end %>

  <%= link_to 'Remove Item',  "/baskets/#{@basket.id}/items/#{order.item_id}/order_histories/#{order.id}" , data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } , class: 'btn btn-danger ', style: 'margin: 10px;' %>
  <% end %>

</ul>

<% total_price = 0 %>
<% @items.each do |item|%>
<% total_price += item.item.price * item.quantity%>
<% Basket.where(id: params[:id]).update(total_price: total_price) %>
<% end %>


<%# ignore these lines they're just the calculation lines %>

  <%
    item_totals = {}
    @items.each do |order|
    order.item.shops.each do |shop|
    item_totals[shop.name] = 0
    end
    end


  @items.each do |order|
  order.item.shops.each do |shop|
  item_totals[shop.name] += (shop.price * order.quantity)
  end
  end
  %>



  <% all_shop_names = [] %>

  <% @items.each do |order| %>
  <% order.item.shops.each do |shop|%>
  <% all_shop_names.push shop.name %>
  <% end %>
  <% end %>


  <% shop_count = {} %>

  <% @items.each do |order| %>
  <% order.item.shops.each do |shop|%>
  <% shop_count[shop.name] = all_shop_names.count(shop.name) %>
  <% end %>
  <% end %>

<button type="button" class="btn btn-primary finalise-button" data-toggle="modal" data-target="#exampleModal">
  Finalise Basket
</button>

<%= link_to 'Clear Basket', basket_path(@basket) , data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } , class: 'btn btn-danger ', style: 'margin: 10px;' %>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"> Cheapest Shops given your basket </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

      <% all_shop_names.uniq.sort.each do |shop| %>
      <% if shop_count[shop] / @items.size >= 0.75 %>
      <%= shop %>
      <p>£ <%= '%.2f' % item_totals[shop] %></p>
      <% end %>
      <% end %>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
