


<%# <script>console.log("hello") %>
<%# const timer = setTimeout((event) => {
  const list = document.querySelectorAll(".init-page")
  list.forEach((element) => {
  element.classList.add("fade-out");
})
}, 1500); %>
<%# </script> %>

<%# <script> %>
<%# const timer = setTimeout((event) => { %>
<%# document.querySelectorAll(".init-page").forEach(el => el.remove()); %>
<%# }, 3000) %>
<%# </script> %>



<%# <div class="init-container init-page">
  <%# insert image here %>
  <%# <div class ="init-page init-img"> %>
  <%# <%= cl_image_tag "https://res.cloudinary.com/dzhyyuft3/image/upload/v1662483567/bkkuejbfakl0vcfqycat.png", crop: :fill %>
  <%# </div> %>
<%# </div> %>

<% if params[:query].present? && @count == 0 %>
<h2>Sorry your search returned no results</h2>
<% end %>

<div class="wrapper">
  <div class="cards">
  <% @items.each do |item| %>
   <%= link_to item_path(item) do %>
        <div class="each-card">
          <div class="image">
          <img src="<%= item.image %>" alt="">
          </div>

          <div class="name-and-price">
            <div class="name">
              <%= item.name %> <br>
            </div>

            <div class="price">
            <p>£ <%='%.2f' % item.price %></p>
            </div>

            <div class="button-to-add">
            </div>
          </div>

        </div>
      <% end %>
    <% end %>
  </div>


</div>
