



<div class="margin"></div>
  <% if params[:query].present?%>
    <h2 id="search-match"><%= @count %> results matching <%= params[:query] %></h2>
  <% elsif params[:category].present? %>
    <h2 id="search-match"><%=  %> Categories > <%= params[:category].capitalize %></h2>
  <% else %>
    <h2> Today's Best Bargains</h2>
  <% end %>
<div class="margin"></div>

<form action = "/items">
        <select aria-labelledby="refine-sortlabel" name="sort" data-q="srp-sort">
          <option value="brand_a_z">Brand: A-Z</option>
          <option value="brand_z_a">Brand: Z-A</option>
          <option value="price_lowest_first">Price: Low to High</option>
        </select>
        <input type="submit" value="Submit" id="submit">
      </form>

<div class="wrapper">
  <div class="cards">
  <% @items.each do |item| %>
   <%= link_to item_path(item) do %>
        <div class="each-card">
          <div class="image">
          <img src="<%= item.image %>" alt="">
          </div>

          <div class="name-and-price">
            <div class="name">
              <%= item.brand %> <%= item.name.first(30) %> <%= item.volume %> <br>
            </div>
            <div class="flex">
              <div class="price">
                <p><strong>£ <%='%.2f' % item.price %></strong></p>
              </div>
              <div class="btn btn-success btn-card">
                <p>Add</p>
              </div>
            </div>
          </div>

        </div>
      <% end %>
    <% end %>
  </div>


</div>
