

<div class="show-header">

   <h2> <%= @item.name %> </h2>

</div>


<div class="show-flex">
    <div class="show-card">
      <div class="show-image">
        <img src="<%= @item.image %>" alt="">
      </div>

      <div class="brand">
        <%=  @item.brand%>
      </div>

      <div class="volume">
        <%= @item.volume %>
      </div>
    </div>
    <div class="show-card-shop">
    <% @item.shops.first(8).each do |shop| %>
      <div class="shop-info">

      <p><%= shop.name %> <strong>£<%= '%.2f' % shop.price %></strong></p>
      <div class="shop-img">
      <%= cl_image_tag Item::BRANDS[shop.name], crop: :fill %>
      </div>
      </div>

    <% end %>
    </div>
    <div class="basket-button">
      <%# <%= link_to "Add to Basket", basket_item_order_histories_path(@basket, @item), class: 'btn btn-success text-white category-button', style: ' width: 100%; background-color: #06D6A0; ', data: {turbo_method: :post} %> <br>
    </div>
</div>
