

<div>
  <p>Categories > <%= @item.category %> </p>
</div>


<div class="show-flex">
  <div class="show-card">
      <div class="show-image">
        <img src="<%= @item.image %>" alt="">
      </div>
      <div class="brand">
        <h2> <%= @item.brand %></p><%= @item.name %> </h2>
      </div>
      <div class="volume">
        <p>Quantity: <%= @item.volume %></p>
      </div>


</div>
       <div class="basket-button">
        <% if user_signed_in? %>
        <%# <div data-controller="add-quantity"> %>
        <%# <form>
        <p>Select Quantity <input type= "number" name="sort_location" id="number-box"></p>
        </form> %>
        <%# <%= link_to "Add to Basket", basket_item_order_histories_path(@basket, @item), class: 'btn btn-success text-white category-button', style: ' width: 100%; background-color: #06D6A0; ', data: {turbo_method: :post}  %>
        <%= form_with url: "/baskets/#{@basket.id}/items/#{@item.id}/order_histories", method: :post do |f|  %>
        <%= f.number_field :quantity %>
        <%= f.submit "Add to Basket"%>
        <% end %>

        <% else %>
        <%# <%= link_to "Add to Basket", new_user_registration_path, class: 'btn btn-success text-white category-button', style: ' width: 100%; background-color: #06D6A0; ', data: {turbo_method: :post}  %>
          <% end %> <br>
      </div>


  </div>
    <div class="show-card-shop">
    <% @item.shops.first(8).each do |shop| %>
      <div class="shop-info">
      <% if shop %>
      <div class="shop-name">
      <p><%= shop.name %> <strong>£<%= '%.2f' % shop.price %></strong></p>
      </div>
      <div class="shop-img">
      <%# <% if Item::BRANDS.key?(shop.name) %>
      <%# <%= image_tag cl_image_path(Item::BRANDS[shop.name], crop: :fill) %>
      <%# <% end %>
      <% case shop.name %>
      <% when "Poundland" %>
      <%= image_tag "https://res.cloudinary.com/dzhyyuft3/image/upload/v1662653128/poundland_qppk9u.png", crop: :fill %>
      <% when "Sainsbury's" %>
      <%= image_tag "https://res.cloudinary.com/dzhyyuft3/image/upload/v1662653128/sainsbury_s_en8ssv.png", crop: :fill %>
      <% when "Tesco" %>
      <%= image_tag "https://res.cloudinary.com/dzhyyuft3/image/upload/v1662653128/tesco_w6rgal.png", crop: :fill %>
       <% when "ALDI" %>
      <%= image_tag "https://res.cloudinary.com/dzhyyuft3/image/upload/v1662653128/aldi_xcjrv8.png", crop: :fill %>
       <% when "Asda" %>
      <%= image_tag "https://res.cloudinary.com/dzhyyuft3/image/upload/v1662653128/asda_v6kw5g.png", crop: :fill %>
       <% when "Co-op" %>
      <%= image_tag "https://res.cloudinary.com/dzhyyuft3/image/upload/v1662655318/co-op_wjaopn.png", crop: :fill %>
       <% when "Morrisons" %>
      <%= image_tag "https://res.cloudinary.com/dzhyyuft3/image/upload/v1662653128/morrisons_blzsz4.png", crop: :fill %>
       <% when "Ocado" %>
      <%= image_tag "https://res.cloudinary.com/dzhyyuft3/image/upload/v1662729912/r3ozdxdbhbf6yx6hsbpb.png", crop: :fill %>
      <% end %>
      <% end %>
      </div>
      </div>
    <% end %>
    </div>

    </div>
