<!DOCTYPE html>
<html>
  <head>
    <title>Experience power of Sav3r</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta property="og:image" content="https://res.cloudinary.com/dth8lnhas/image/upload/v1662799284/Screenshot_2022-09-10_at_09.41.03_pxfc3h.png" />

    <%= favicon_link_tag "https://res.cloudinary.com/dth8lnhas/image/upload/v1662799284/Screenshot_2022-09-10_at_09.41.03_pxfc3h.png"  %>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%# <%= javascript_include_tag "/app/javascript/controllers/custom.js", "data-turbolinks-track" => true  %>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </head>

  <body data-controller="sidebar cart">
    <%= render "shared/navbar" unless current_page?(root_path(@page)) %>
    <%= render "shared/sidebar" %>
    <%= render "shared/cart", cart: @basket %>
    <%= render "shared/flashes" %>

    <%= yield %>
  </body>
</html>
